<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="app">
        <div>
            <input v-model="title" />
            <button @click="add">submit</button>
        </div>
        <div>
            <ul>
                <li v-for="item in list">{{item}}</li>
            </ul>
        </div>
    </div>
    
    <script>
        //data 是独立的
        var data = {
            title: '',
            list: []
        }
        //初始化 Vue 实例
        var vm = new Vue({
            el: '#app',
            data,
            methods: {
                add(){
                    this.list.push(this.title);
                    this.title = '';
                }
            }
        })
    </script>
</body>
</html>